/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

#codebox:not(.line-number-disabled) > div::before {
	content: attr(data-number);

	padding-inline-end: 2ch;

	color: var(--39-line-number-color);
}
